<launch>

  <!-- Run Occam  -->
  <node name="occam_node" pkg="occam_node" type="ros_indigosdk_node" output="screen">
  </node>

  <!-- View Images  -->
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/occam_node/stitched_image0"/>
    <param name="autosize" value="true" />
  </node>

 <!-- Dynamic Reconfigure -->
 <node name="config" pkg="rqt_gui" type="rqt_gui" >
 </node>

</launch>
